In [1]:
import itertools
import os

import matplotlib.pylab as plt
import numpy as np

import tensorflow as tf

In [2]:
from keras.models import Model
from keras.layers import Flatten
from keras.layers import Dense
from keras.layers import Input
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import GlobalMaxPooling2D
from keras.layers import GlobalAveragePooling2D

In [3]:
from keras.preprocessing import image
from keras import backend as K
from keras.applications.imagenet_utils import decode_predictions
from keras.applications.imagenet_utils import preprocess_input

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
formulas_df = pd.read_csv('/Users/alyona_dushkina/train_final.csv')

In [5]:
import pandas as pd
import numpy as np
import pickle
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.set_image_data_format('channels_first')
from keras.utils.np_utils import to_categorical
from keras.models import model_from_json

In [6]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['784']]

In [7]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,255,243,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
np.random.seed(1212)

In [9]:
labels=np.array(labels)

In [10]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=14)

In [11]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]

In [12]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,255,243,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
l=[]
for i in range(9156):
    l.append(np.array(df_train[i:i+1]).reshape(1,28,28))

In [14]:
np.random.seed(7)

In [15]:
model = Sequential()
model.add(Conv2D(30, (5, 5), input_shape=(1 , 28, 28), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(14, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

Metal device set to: Apple M1

In [16]:
from keras.models import model_from_json

In [17]:
model.fit(np.array(l), cat, epochs=40, batch_size=200,shuffle=True,verbose=1)

Epoch 1/40

2024-02-19 13:08:11.349595: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

46/46 [==============================] - 3s 46ms/step - loss: 4.1812 - accuracy: 0.1412
Epoch 2/40
46/46 [==============================] - 2s 43ms/step - loss: 1.9681 - accuracy: 0.3729
Epoch 3/40
46/46 [==============================] - 2s 44ms/step - loss: 1.2687 - accuracy: 0.6081
Epoch 4/40
46/46 [==============================] - 2s 44ms/step - loss: 0.8503 - accuracy: 0.7298
Epoch 5/40
46/46 [==============================] - 2s 44ms/step - loss: 0.6681 - accuracy: 0.7844
Epoch 6/40
46/46 [==============================] - 2s 44ms/step - loss: 0.5418 - accuracy: 0.8189
Epoch 7/40
46/46 [==============================] - 2s 44ms/step - loss: 0.4505 - accuracy: 0.8505
Epoch 8/40
46/46 [==============================] - 2s 44ms/step - loss: 0.3950 - accuracy: 0.8689
Epoch 9/40
46/46 [==============================] - 2s 44ms/step - loss: 0.3545 - accuracy: 0.8802
Epoch 10/40
46/46 [==============================] - 2s 44ms/step - loss: 0.3121 - accuracy: 0.8931
Epoch 11/40
46/46 [==============================] - 2s 44ms/step - loss: 0.2753 - accuracy: 0.9028
Epoch 12/40
46/46 [==============================] - 2s 44ms/step - loss: 0.2532 - accuracy: 0.9121
Epoch 13/40
46/46 [==============================] - 2s 44ms/step - loss: 0.2459 - accuracy: 0.9135
Epoch 14/40
46/46 [==============================] - 2s 44ms/step - loss: 0.2286 - accuracy: 0.9170
Epoch 15/40
46/46 [==============================] - 2s 44ms/step - loss: 0.2033 - accuracy: 0.9242
Epoch 16/40
46/46 [==============================] - 2s 44ms/step - loss: 0.2085 - accuracy: 0.9237
Epoch 17/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1962 - accuracy: 0.9263
Epoch 18/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1875 - accuracy: 0.9297
Epoch 19/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1706 - accuracy: 0.9375
Epoch 20/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1560 - accuracy: 0.9408
Epoch 21/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1573 - accuracy: 0.9408
Epoch 22/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1587 - accuracy: 0.9418
Epoch 23/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1453 - accuracy: 0.9455
Epoch 24/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1447 - accuracy: 0.9460
Epoch 25/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1360 - accuracy: 0.9431
Epoch 26/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1408 - accuracy: 0.9467
Epoch 27/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1342 - accuracy: 0.9488
Epoch 28/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1371 - accuracy: 0.9467
Epoch 29/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1311 - accuracy: 0.9499
Epoch 30/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1229 - accuracy: 0.9549
Epoch 31/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1216 - accuracy: 0.9525
Epoch 32/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1150 - accuracy: 0.9561
Epoch 33/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1110 - accuracy: 0.9549
Epoch 34/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1150 - accuracy: 0.9541
Epoch 35/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1156 - accuracy: 0.9562
Epoch 36/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1108 - accuracy: 0.9558
Epoch 37/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1187 - accuracy: 0.9542
Epoch 38/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1020 - accuracy: 0.9581
Epoch 39/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1071 - accuracy: 0.9585
Epoch 40/40
46/46 [==============================] - 2s 44ms/step - loss: 0.1094 - accuracy: 0.9588

In [18]:
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")